@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #1A0B2E;
}

/* navbar design */
nav {
    padding: 16px 200px;
    max-width: 1600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #412567;
}

nav .logo-name,
.footer-contant h2 {
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.815);
}

nav .logo-name span,
.footer-contant h2 span {
    font-size: 2rem;
    background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    color: white;
}

nav .menu {
    display: flex;
    align-items: center;
    gap: 32px;
    list-style-type: none;
    padding: 5px;
}

nav .menu li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    padding: 10px 15px;
    font-weight: 500;
}

nav .menu li a:hover {
    background: linear-gradient(90deg, #FB09B4, #9100F8);
    border-radius: 10px;
}

.nav-btn .btn {
    background: linear-gradient(47deg, #F7E93F, #FB09B4, #9100F8);
    padding: 12px 16px;
    border: none;
    border-radius: 40px;
    color: #ffffff;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
}

.hamburger {
    display: none;
}

/* header banner section design */
.banner-contant {
    background: url(../assets/hero-bg.png);
    min-height: 100vh;
    max-width: 1600px;
    margin: 0 auto;
    width: 100%;
    background-repeat: no-repeat;
    background-position: auto;
    background-size: contain;
    margin-top: 50px;
}


.banner-image .cercle {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 350px;

}

.banner-image .cercle img {
    margin-top: 100px;
}

.banner-image .mic {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 264px;
}

.banner-text {
    position: relative;
    bottom: 150px;
    width: 550px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.text h2 {
    font-size: 3.75rem;
    color: #ffffff;
    margin-bottom: 8px;
}

.text p {
    color: #ffffff;
    margin-bottom: 24px;
}

.banner-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.banner-btn .btn {
    background: linear-gradient(47deg, #F7E93F, #FB09B4, #9100F8);
    padding: 12px 16px;
    border: none;
    border-radius: 40px;
    color: #ffffff;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.white {
    padding: 12px 16px;
    border: none;
    border-radius: 40px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #00FF88;
    color: #00FF88;
    animation: pulse 2s infinite;

}

@keyframes pulse {
    0% {
        box-shadow: 0 0 5px #00ff9c;
    }

    50% {
        box-shadow: 0 0 15px #00ff9c;
    }

    100% {
        box-shadow: 0 0 5px #00ff9c;
    }
}



.banner-image {
    width: 100%;
    position: relative;
}

.badge {
    text-align: center;
    background-color: #00FF88;
    border: none;
    border-radius: 1000px;
    width: 60px;
    padding: 8px 10px;
    box-shadow: 0px 3px 27px #00FF8850;
    position: absolute;
    top: 23%;
    right: 10%;
}


/* about section design */
#about .about-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 200px 120px 200px;
}

.about-contant {
    max-width: 1200px;
    text-align: center;

}

.about-contant h2 {
    font-size: 3rem;
    color: #ffffff;
    margin-bottom: 16px;
}

.about-contant p {
    margin: 0px 40px;
    color: #ffffff;
    line-height: 28px;

}

.about-contant .bottom {
    margin-top: 30px;
}

hr {
    border: 1px solid #ffffff11;
    margin: 80px 0px;

}

.about-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    text-align: center;

}

.about-card h2 {
    font-size: 2.5rem;
    color: #00FF88;
    margin-bottom: 16px;
}

.about-card p {
    font-size: 0.8rem;
    color: #ffffff;
}

/* why section design */
.why-container {
    max-width: 1600px;
    background-color: #230e3d8f;
    margin: 0 auto;
    padding: 120px 200px;

}

.why-container .heading {
    text-align: center;
}

.why-container .heading h2 {
    font-size: 3rem;
    color: #ffffff;
    margin-bottom: 40px;
}

.why-card-container {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 250px);
}

.why-card-container .why-card {
    background-color: #35116565;
    padding: 40px;
    border-radius: 40px;
}

.why-card-container .card-1 {
    grid-column: span 1;
    grid-row: span 2;
}

.why-card-container .card-2 {
    grid-column: span 2;
    grid-row: span 1;
}

.why-card-container .card-3 {
    grid-column: span 2;
    grid-row: span 1;
}

.why-card-container .card-4 {
    grid-column: span 2;
    grid-row: span 1;
}

.why-card img {
    width: 50px;
    margin-bottom: 10px;
    margin-top: 0;
}

.why-card h3 {
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 10px;
}

.why-card p {
    font-size: 1rem;
    color: #ffffff;
    line-height: 20px;
}

/* feature section design */
.feature-container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 120px;
}

.feature-heading {
    text-align: center;
    color: #ffffff;
    font-size: 3rem;
    margin-bottom: 40px;
}

.video-content {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.video {
    width: 380px;
    background-color: #35116565;
    border-radius: 20px;
}

.video iframe {
    border-radius: 20px 20px 0 0;

}

.video h2 {
    font-size: 1.5rem;
    color: #ffffff;
    margin: 24px 24px 12px 24px;
}

.video p {
    color: #ffffff70;
    line-height: 24px;
    margin: 24px 24px 12px 24px;
}

.duration {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 24px 24px 12px 24px;
}

.duration h3 {
    color: #00FF88;
}

/* host section */
.host {
    max-width: 1200px;
    margin: 0 auto;
}

.host-heading {
    text-align: center;
    color: #ffffff;
    font-size: 3rem;
    margin-bottom: 40px;
    margin-top: 60px;
}

.host-card {
    background-color: #35116565;
    padding: 40px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.host-image img {
    width: 200px;
}

.host-contant h2 {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 15px;
}

.host-contant p {
    font-size: 1rem;
    color: #ffffff9a;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 15px;

}

.host-icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social {
    border: 1px solid #ffffff62;
    width: 40px;
    display: flex;
    justify-content: center;
    padding: 8px;
    border-radius: 50%;
}

.icon {
    width: 20px;
}

/* footer section design  */
.footer-container {
    background: url("../assets/footer-bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}

.footer-contant {
    text-align: center;
    padding: 120px;

}

.footer-contant h2,
.footer-contant h2 span {
    font-size: 4rem;
    margin-bottom: 30px;

}

.footer-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 32px;
}

.footer-social {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-social p {
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff8c;
}

.footer-copyright {
    font-size: 1rem;
    color: #fafafa75;
}




/* responsive for mobail */
@media screen and (max-width:576px) {
    nav .menu {
        display: none;
    }

    .nav-btn {
        display: none;
    }

    nav {
        flex: start;
        padding: 16px 20px;
        background-color: #110521;
    }

    .hamburger {
        display: flex;
        align-items: center;

    }

    .banner-image {
        width: 100%;
        height: 100%;
    }

    .banner-contant {
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        background-position: -11px 172px;
        margin: 0 auto;

    }

    .banner-image .cercle img {
        width: 200px;
        position: relative;
        top: 54px;
        left: -2px;

    }

    .mic img {
        position: relative;
        width: 80px;
        top: 156px;
        left: -4px;
    }

    .badge {
        position: absolute;
        top: 141px;
        right: 93px;



    }

    .banner-text {
        max-width: 400px;
        margin: 100px auto;

    }

    .banner-text h2 {
        font-size: 2.5rem;
    }

    

    #about .about-container {

        padding: 20px 30px;
        /* padding: 0px 20px 30px; */

    }

    .about-contant h2 {
        font-size: 2rem;
    }

    .about-contant p {
        margin: 0px auto;
    }

    hr {
        margin: 40px auto;
    }

    .about-info {
        grid-template-columns: repeat(2, 1fr);
    }

    .why-container {
        padding: 40px 20px;
    }

    .why-container .heading h2 {
        font-size: 2rem;
    }

    .why-card-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .why-card-container .why-card {
        padding: 24px;
    }

    .why-card-container .card-1 {
        grid-row: span 1;
        grid-column: span 2;
    }

    .why-card-container .card-5 {
        grid-column: span 2;
    }

    .why-card img {
        width: 40px;
        margin-bottom: 5px;
    }

    .why-card h3 {
        font-size: 1.3rem;
        margin-bottom: 10px;
    }

    .why-card p {
        font-size: .9rem;
    }

    .video-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .feature-heading {
        font-size: 2rem;
        margin-bottom: 20px;
        gap: 10px;
    }

    .video {
        width: 90%;
        margin: 0 auto;
    }

    .video iframe {
        width: 100%;
    }

    .feature-container {
        padding: 40px 0px;
    }

    .host-heading {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .host-card {
        flex-direction: column;
        width: 90%;
        margin: 0 auto;

    }

    .host-contant {
        text-align: center;
    }

    .host-icon {
        justify-content: center;
    }

    .footer-contant h2,
    .footer-contant h2 span {
        font-size: 2.5rem;
        margin-bottom: 24px;
    }

    .footer-contant {
        padding: 20px;
        background: url('../assets/footerresponsive.png');
        background-repeat: cover;
        background-position: center center;
    }

    .footer-icon {
        width: 300px;
        flex-wrap: wrap;
        gap: 16px;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        position: relative;
        bottom: 22px;
    }
}